<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="static/css/main.css">
        <title>twarchive</title>
    </head>
    <body>
        <div class="container my-4" style="max-width: 1000px;">
            <h1>TwArchive (Go version)</h1>
            {{ if . }}
            <p class="lead"><b>{{ .Count }} results for query:</b> {{ .QueryType }} = {{ .Query }}</p>
            {{ else }}
            <p class="lead">Developed with ❤ in a city next to you!</p>
            {{ end }}
            <form method="POST" action="/">
                <div class="form-group">
                    <label for="queryInput">Query</label>
                    <input type="text" name="query" id="queryInput" class="form-control">
                </div>

                <div class="form-group">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="sensitivitySwitch" name="caseSensitive">
                        <label class="custom-control-label" for="sensitivitySwitch">Case sensitive</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="reverseSwitch" name="reverseSearch">
                        <label class="custom-control-label" for="reverseSwitch">Reverse list (descending ordering)</label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Search</button>
            </form>

            {{ if . }}
            <hr class="my-4">
            <div class="container-fluid">
                {{ range .Tweets }}
                <div class="card mb-4">
                    <div class="card-body">
                        <p class="card-text tweet-content">{{ .Text }}</p>
                    </div>
                    <div class="card-footer text-muted text-right">
                        — <a href="{{ .URL }}" target="_blank">{{ .CreatedReadable }}</a> via <b>{{ .Source }}</b>
                    </div>
                </div>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </body>
</html>